/**
 * Site header
 */
.site-header {
  background-color: #fff;
  border-bottom: 1px solid $grey-color-light;
  height: 50px;
  box-shadow: 0px -20px 25px 10px rgba(0,0,0,0.3);
  position: fixed;
  width: 100vw;
}

.site-nav {
  float: right;
  line-height: 50px;

  a {
    position: relative;
    display: inline-block;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-weight: 300;
    text-decoration: none;
    transition: all 300ms ease;

    &:hover {
      color: #7933ea;
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  .current {
    color: #7933ea;
    font-weight: 400;
    margin: 0px -2px;

    &:after {
      position: relative;
      display: block;
      width: calc(100% + 20px);
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
      height: 5px;
      background-color: #7933ea;
      content: '';
      margin-top: 8px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 6px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .current {
      color: #7933ea;
      font-weight: 400;

      &:after {
        display: none;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

#header-logo {
  margin: 0;
  padding: 0;
}


/**
 * Page content
 */
.page-content {
  max-width: calc(#{$content-width} + 300px);
  padding: $spacing-unit 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: auto;
  padding-top: 75px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit / 2;
  }

  h2 {
    margin-bottom: 2px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-meta-author {
  font-weight: 500;
  text-transform: uppercase;
  font-size: $small-font-size;
  color: $grey-color-dark;
  padding-right: 4px;
}

.post-meta-date {
  font-size: $small-font-size;
  color: $grey-color-dark;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 1.5;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
